body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

canvas {
    background-color: #fff;
    border: 1px solid #999;
    cursor: pointer;
    /* クリックできることを示す */
    margin-top: 10px;
}

.controls button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}